@import "Fonts";
@import "Colors";
.custom-button {
	padding: 5px 10px;
	font-size: calc(0.5vw + 10px);
	border: 2px solid $accent-color!important;
	text-align: center;
	background-color: $secondary-color;
	border-radius: 10px;
	color: #fff;
	cursor: pointer;
}