@import "Colors";
@import "Fonts";
.main-div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
h1 {
  font-size: calc(10vw + 30px)!important; /* Use vw (viewport width) instead of em or px */
  font-family: $gill-sans-font;
  text-align: center;
}
h2 {
  font-size: calc(5vw + 20px)!important; /* Use vw (viewport width) instead of em or px */
  font-family: $gill-sans-font;
  text-align: center;
}
label{
  font-size: calc(1vw + 15px)!important;
  text-align: center;
  font-family: $gill-sans-font;
}
main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: $secondary-color;
}
body{
  overflow: hidden;
}
main > div {
  text-align: center;
}

.custom-button{
  color: black!important;
}