@import "Colors";
@import "Fonts";
.navbar{
	position: sticky!important;
	top: 0;
	z-index: 100;
	border-bottom: 2px solid $accent-color!important;
}

.navbar a{
	font-family: $gill-sans-font;
	font-size: 20px;
}
.profile-pic {
  	width: calc(1vw + 25px);
	height: calc(1vw + 25px);
  	border-radius: 50%;
	border: 2px solid $accent-color;
  	object-fit: cover;
}